.services__icon.services__icon--icon1::before{
    background-image: url('../images/icon1.svg');
    }
    .services__icon.services__icon--icon2::before{
    background-image: url('../images/icon2.svg');
    }
    .services__icon.services__icon--icon3::before{
    background-image: url('../images/icon3.svg');
    }
    .services__icon.services__icon--icon4::before{
    background-image: url('../images/icon4.svg');
    }
    .services__icon.services__icon--icon5::before{
    background-image: url('../images/icon5.svg');
    }
    .services__icon.services__icon--icon6::before{
    background-image: url('../images/icon6.svg');
    }